<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="hibernateSessionFactory"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="annotatedClasses" >
            <list>
                <value>
                    com.kyun.entity.Car
                </value>
                <value>
                    com.kyun.entity.CarInOrder
                </value>
                <value>
                    com.kyun.entity.CarPhoto
                </value>
                <value>
                    com.kyun.entity.Order
                </value>
                <value>
                    com.kyun.entity.Role
                </value>
                <value>
                    com.kyun.entity.User
                </value>
                <value>
                    com.kyun.entity.UserRole
                </value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">
                    org.hibernate.dialect.MySQLDialect
                </prop>
                <prop key="hibernate.show_sql">
                    true
                </prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
            </props>
        </property>
    </bean>

    <bean id="carDAO" class="com.kyun.dao.CarDAOImpl">
        <property name="sessionFactory" ref="hibernateSessionFactory"/>
    </bean>

    <bean id="userDAO" class="com.kyun.dao.UserDAOImpl">
        <property name="sessionFactory" ref="hibernateSessionFactory"/>
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/kyundb" />
        <property name="username" value="root" />
        <property name="password" value="" />
    </bean>

</beans>