<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="hibernateSessionFactory"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="annotatedClasses" >
            <list>
                <value>
                    com.kyun.entity.Car
                </value>
                <value>
                    com.kyun.entity.CarInOrder
                </value>
                <value>
                    com.kyun.entity.CarPhoto
                </value>
                <value>
                    com.kyun.entity.Order
                </value>
                <value>
                    com.kyun.entity.Role
                </value>
                <value>
                    com.kyun.entity.User
                </value>
                <value>
                    com.kyun.entity.UserRole
                </value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">
                    org.hibernate.dialect.MySQLDialect
                </prop>
                <prop key="hibernate.show_sql">
                    true
                </prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
            </props>
        </property>
    </bean>

    <bean id="carDAO" class="com.kyun.dao.GenericDAOImpl">
        <constructor-arg value="com.kyun.entity.Car"/>
        <property name="sessionFactory" ref="hibernateSessionFactory"/>
    </bean>

    <bean id="userDAO" class="com.kyun.dao.GenericDAOImpl">
        <constructor-arg value="com.kyun.entity.User"/>
        <property name="sessionFactory" ref="hibernateSessionFactory"/>
    </bean>

    <bean id="userRoleDAO" class="com.kyun.dao.GenericDAOImpl">
        <constructor-arg value="com.kyun.entity.UserRole"/>
        <property name="sessionFactory" ref="hibernateSessionFactory"/>
    </bean>

    <bean id="roleDAO" class="com.kyun.dao.GenericDAOImpl">
        <constructor-arg value="com.kyun.entity.Role"/>
        <property name="sessionFactory" ref="hibernateSessionFactory"/>
    </bean>

    <bean id="carService" class="com.kyun.service.CarServiceImpl">
        <property name="carDAO" ref="carDAO" />
    </bean>

    <bean id="userService" class="com.kyun.service.UserServiceImpl">
        <property name="userDAO" ref="userDAO" />
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
    </bean>

    <context:property-placeholder location="jdbc.properties"/>

</beans>