<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/kyundb</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <mapping class="com.kyun.entity.Car"/>
    <mapping class="com.kyun.entity.CarInOrder"/>
    <mapping class="com.kyun.entity.CarPhoto"/>
    <mapping class="com.kyun.entity.Order"/>
    <mapping class="com.kyun.entity.Role"/>
    <mapping class="com.kyun.entity.User"/>
    <mapping class="com.kyun.entity.UserRole"/>

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>